@font-face {
  font-family: RobotoSlab;
  src: url("..\\..\\fonts\\RobotoSlab.ttf");
}

@font-face {
  font-family: Exo2;
  src: url("..\\..\\fonts\\Exo2-Bold.ttf");
}

.sidebar {
  align-items: left;
  justify-content: left;
  width: 300px;
  background-color: #f8f9fa;
  height: 100vh;
}

#page_title {
  font-family: Exo2;
  font-weight: bolder;
  font-size: 65px;
  color: rgb(255, 153, 0);
}

#page_title:hover {
  background-color: rgba(0, 0, 0, 0.0);
  border-radius: 30px;
  color: rgb(80, 219, 238);
}

#version {
  font-family: Exo2;
  font-weight: normal;
  font-size: 18px;
  color: rgb(255, 153, 0);
}

.container {
  border: 2px solid #dedede;
  background-color: #f1f1f1;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  width: 98%;
}

.darker {
  border-color: #ccc;
  background-color: #ddd;
}

.container::after {
  content: "";
  clear: both;
  display: table;
}

.container img {
  content: url("..\\..\\icons\\ai_icon.png");
  width: 32;
  height: 32;
  float: left;
  max-width: 60px;
  width: 100%;
  margin-right: 20px;
  border-radius: 50%;
}

.darker img {
  content: url("..\\..\\icons\\user.jpg");
  width: 32;
  height: 32;
  float: left;
  max-width: 60px;
  width: 100%;
  margin-right: 20px;
  border-radius: 50%;
}

.container img.right {
  float: right;
  margin-left: 20px;
  margin-right: 0;
}

.time-right {
  float: right;
  color: #aaa;
}

.time-left {
  float: left;
  color: #999;
}

.messages {
  height: 85vh;
  width: 1200px;
  border-width: 2px;
  margin-top: 16px;
  overflow-y: auto;
}

#send_btn{
    margin-top: 16px;
    height: 40px;
}

.chat-box {
  background-color: rgb(230, 230, 230);
  border-radius: 14px;
}

#msgInput {
  background-color: rgb(230, 230, 230);
  border-radius: 24px;
  margin-left: 24px;
  margin-top: 16px;
  width: 120svb;
  height: 40px;
  padding-left: 15px;
}


body{
  background-color: #212529;
  /* background-color: #141414ec; */
}

#send_btn {
  width: 40px; /* Adjust the width as needed */
  height: 40px; /* Adjust the height as needed */
  border-radius: 50%; /* Make the button circular */
  padding: 10px;
  margin: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#send_btn svg {
  fill: white; /* Set the fill color of the SVG icon */
  width: 20px; /* Adjust the size of the SVG icon as needed */
  height: 20px; /* Adjust the size of the SVG icon as needed */
}

.list-group-item.current {
  border: 2px solid rgba(145,192,241,1);

  /* background-image: radial-gradient( circle 759px at -6.7% 50%,  rgb(99, 138, 94) 0%, rgba(140,209,131,1) 26.2%, rgba(178,231,170,1) 50.6%, rgba(144,213,135,1) 74.1%, rgb(88, 116, 85) 100.3% ); */
  background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(147,230,241,1) 0%, rgba(145,192,241,1) 45.5% );
  /* background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(186,190,245,1) 0%, rgba(192,192,245,1) 33.1%, rgba(218,203,246,1) 90% ); */
  
}


#new-rag-btn {
  background-image: radial-gradient( circle 759px at -6.7% 50%,  rgb(110, 156, 105) 0%, rgb(148, 197, 142) 26.2%, rgb(168, 212, 161) 50.6%, rgb(144, 199, 137) 74.1%, rgb(108, 134, 105) 100.3% );
  /* background-color: rgb(66, 141, 66); */
  font-weight: 600;
  font-size: 18px;
  color: rgb(6, 46, 6);
}

.rag-thread{
  cursor: pointer
}

#profile-img{
  content: url("..\\..\\icons\\user.jpg");
}

#copy-icon {
  content: url("..\\..\\icons\\copy-2.png");
  width: 22px;
  height: 22px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.copy-btn {
  font-family: RobotoSlab ;
  font-size: 16px;
  font-weight: normal;
  color: #ffffff;
  text-align: right;
  border-width: 0px;
  /* display: flex; */
  align-items: center;
  justify-content: center;
}


.showing-message {
  color: black;
  font-size: 14px;
  position: absolute;
  background-color: #fff;
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

/* .modal {
  animation-name: slide-down;
  animation-duration: 0.2s;
  animation-fill-mode: forwards;
}

@keyframes slide-down {
  from {
      transform: translateY(-100%);
  }
  to {
      transform: translateY(0);
  }
} */

