@font-face {
  font-family: RobotoSlab;
  src: url("..\\..\\fonts\\RobotoSlab.ttf");
}

@font-face {
  font-family: Exo2;
  src: url("..\\..\\fonts\\Exo2-Bold.ttf");
}

@font-face {
  font-family: IranSans;
  src: url("..\\..\\fonts\\IranSans.ttf");
}

@font-face {
  font-family: Nexa-Heavy;
  src: url("..\\..\\fonts\\Nexa-Heavy.ttf");
}



.sidebar {
  align-items: left;
  justify-content: left;
  width: calc(16vw - 10px);
  min-width: 170px;
  background-color: #f8f9fa;
  height: 100vh;
  margin-right: 0px;
  padding-right: 0px;
}

.sidebar-right {
  align-items: right;
  justify-content: right;
  width: calc(16vw - 10px);
  min-width: 170px;
  background-color: #f8f9fa;
  height: 100vh;
}

.messages {
  height: 88vh;
  width: 65vw;
  align-items: center;
  border-width: 2px;
  margin-top: 16px;
  overflow-y: auto;
}

@media (max-width: 992px) {
  .sidebar-right {
    display: none; /* Hide the right sidebar */
  }
  .sidebar {
    width: 16vw; /* Adjust the width of the left sidebar to occupy the space */
  }
  .messages {
    width: 100vw; /* Expand the messages width to occupy the whole area */
  }
}

#page_title_a {
  justify-content: center;
  align-items: center;
}


#page_title {
  font-family: Nexa-Heavy;
  font-weight: bolder;
  font-size: 30px;
  background: linear-gradient(10deg, rgb(250, 213, 255) 8%, rgb(213, 198, 255) 20%, rgb(182, 232, 255) 45%, rgb(176, 255, 251) 55%, rgb(180, 255, 224) 65%, rgb(237, 255, 170) 75%, rgb(245, 255, 158) 85%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  justify-content: center;
  align-items: center;
  padding-left: 30px;
  padding-top: 10px;
}

#page_title:hover {
  background-color: rgba(0, 0, 0, 0.0);
  border-radius: 30px;
  color: rgb(138, 228, 246);
}

#version {
  font-family: Nexa-Heavy;
  font-weight: normal;
  font-size: 17px;
  color: rgb(255, 153, 0);
}

.container {
  border: 2px solid #000000;
  background-color: #f1f1f1;
  border-radius: 25px;
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 15px;
  padding-bottom: 10px;
  margin: 10px;
  width: 75%;
  clear: both;
  overflow: auto; /* for chat like view */
}

.thread_name {
  font-size: 14px;
}

.text-small {
  font-size: 12px;
}


.msg.rag-response, .msg.user-query {
  font-family: Tahoma;
  font-size: 18px;
  font-weight: normal;
  padding-left: 10px;
}

.msg.rag-response-Fa  .msg.user-query-Fa{
  font-family: IranSans;
  font-size: 15px;
  font-weight: normal;
  text-align: right;
  direction: rtl;
}


.darker {
  border-color: #2e2e2e;
  background-color: #96d3fc;
  float: right;   /* for chat like view */ 
  padding: 10px;
  margin: 10px;
}

.container::after {
  content: "";
  display: table;
  clear: both;
}

.container img {
  content: url("..\\..\\icons\\ai_icon.png");
  width: 32;
  height: 32;
  float: left;
  max-width: 60px;
  width: 100%;
  margin-right: 20px;
  border-radius: 50%;
}

.darker img {
  content: url("..\\..\\icons\\user.jpg");
  width: 32;
  height: 32;
  float: left;
  max-width: 60px;
  width: 100%;
  margin-right: 20px;
  border-radius: 50%;
}

.container img.right {
  float: right;
  margin-left: 20px;
  margin-right: 0;
}

.time-right {
  float: right;
  font-size: 14px;
  color: #416581;
  padding-right: 10px;
}

.time-left {
  float: right;
  font-size: 14px;
  color: #546f81;
}

#send_btn {
    margin-top: 16px;
    height: 40px;
}

.chat-box {
  /* background-color: rgb(230, 230, 230); */
  background-color: #212529;
  border-radius: 14px;
  padding-bottom: 0px;
  margin-bottom: 0px;
}

#msgInput {
  background-color: rgb(230, 230, 230);
  border-radius: 24px;
  margin-left: 24px;
  margin-top: 16px;
  margin-bottom: 5px;
  padding-bottom: 5px;
  width: 60vw;
  height: 53px;
  padding-left: 15px;
  border-width: 3px;
  border-color: rgb(255, 255, 255);
}

/* Media query for small screens */
@media screen and (max-width: 990px) {
  #msgInput {
    width: 80vw;
  }
}

.landing-page {
  margin-bottom: 0px;
  padding-bottom: 0px;
  margin-left: 0px;
  padding-left: 0px;
  border-left: 0px;
  display: flex; /* Add this line to enable flexbox */
  align-items: center;
  justify-content: center;
}

.landing {
  background-color: #212529;
  border-radius: 14px;
  padding-bottom: 0px;
  margin-bottom: 0px;
  display: flex; /* Add this line to enable flexbox */
  align-items: center;
  justify-content: center;
}

#landing-img {
  content: url("..\\..\\bcg\\rag_landing_img-4.png");
  width: 70%;
  height: 70%;
  margin: auto; /* Add this line to center the image horizontally */
}

body{
  background-color: #212529;
  /* background-color: #141414ec; */
}

#send_btn {
  width: 57px; /* Adjust the width as needed */
  height: 57px; /* Adjust the height as needed */
  border-radius: 50%; /* Make the button circular */
  /* padding: 10px; */
  /* margin: 20px; */
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent !important;
  border-width: 0px;
}

#send_btn svg {
  fill: rgb(120, 168, 114);
  width: 32px; /* Adjust the size of the SVG icon as needed */
  height: 32px; /* Adjust the size of the SVG icon as needed */
}

.list-group-item.current {
  border: 2px solid rgba(145,192,241,1);

  /* background-image: radial-gradient( circle 759px at -6.7% 50%,  rgb(99, 138, 94) 0%, rgba(140,209,131,1) 26.2%, rgba(178,231,170,1) 50.6%, rgba(144,213,135,1) 74.1%, rgb(88, 116, 85) 100.3% ); */
  background-image: linear-gradient(to bottom right, rgb(158, 230, 241), rgb(122, 177, 236));
  /* background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(186,190,245,1) 0%, rgba(192,192,245,1) 33.1%, rgba(218,203,246,1) 90% ); */
}

.list-group-item:hover strong {
  color: rgb(0, 90, 163);
}

#new-rag-btn {
  /* background-image: radial-gradient( circle 759px at -6.7% 50%,  rgb(110, 156, 105) 0%, rgb(148, 197, 142) 26.2%, rgb(168, 212, 161) 50.6%, rgb(144, 199, 137) 74.1%, rgb(108, 134, 105) 100.3% ); */
  background-image: radial-gradient( circle 759px at -6.7% 50%,  rgb(146, 221, 138) 0%, rgb(198, 226, 161) 26.2%, rgb(180, 212, 161) 50.6%, rgb(165, 199, 137) 74.1%, rgb(118, 134, 105) 100.3% );
  /* background-color: rgb(66, 141, 66); */
  font-weight: 600;
  font-size: 16px;
  color: rgb(6, 46, 6);
  border-radius: 10px;
}

#new-collection-btn {
  background-color: #FBAB7E;
  /* background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%); */
  background-image: linear-gradient(62deg, #909cef 0%, #77f1e9 100%);
  font-weight: 600;
  font-size: 16px;
  color: rgb(6, 46, 6);
  border-radius: 10px;
}

.rag-thread {
  cursor: pointer;
  border-radius: 7px;
  background-image: linear-gradient(to top, #dbdbdb 0%, white 100%);
  /* background-color: #e0fffd; */
}

.rag-thread:hover {
  background-color: rgba(169, 223, 245, 0.5);
  background-blend-mode: multiply;
}

#profile-img{
  content: url("..\\..\\icons\\user.jpg");
}

#copy-icon {
  content: url("..\\..\\icons\\copy-4.png");
  width: 24px;
  height: 24px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 2px;
}

#copy-icon:hover {
  background-color: #e0e0e0; /* Set the desired background color on hover */
}


.copy-btn {
  font-family: Tahoma ;
  font-size: 16px;
  font-weight: normal;
  color: #ffffff;
  text-align: right;
  border-width: 0px;
  /* display: flex; */
  align-items: center;
  justify-content: center;
}

#translate-icon {
  content: url("..\\..\\icons\\translate_3.svg");
  width: 27px;
  height: 27px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.translate-btn {
  font-family: Tahoma ;
  font-size: 16px;
  font-weight: normal;
  color: #ffffff;
  text-align: right;
  border-width: 0px;
  /* display: flex; */
  align-items: center;
  justify-content: center;
}

#translate-icon:hover {
  background-color: #d1d1d1; /* Set the desired background color on hover */
}

.context-btn {
  font-family: Tahoma ;
  font-size: 16px;
  font-weight: normal;
  color: #ffffff;
  text-align: right;
  border-width: 0px;
  /* display: flex; */
  align-items: center;
  justify-content: center;
}


#context-icon {
  content: url("..\\..\\icons\\context_1.png");
  width: 27px;
  height: 27px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}


#delete-thread-btn {
  background-color: rgb(223, 94, 94);
  border-radius: 20px;
  font-family: RobotoSlab;
  font-size: 16px;
}

#add-docs-btn {
  border-radius: 20px;
  font-family: RobotoSlab;
  font-size: 16px;
}

.showing-message {
  color: black;
  font-size: 14px;
  position: absolute;
  background-color: #fff;
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}


.tooltip {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.tooltip .tooltip-text {
  visibility: hidden;
  width: 200px;
  background-color: #ffffff;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}

#thread-name-right-sidebar {
  color: #6ce0da;
  font-family: RobotoSlab;
  font-weight: bold;
  font-size: 24px;
}

.doc-name-sidebar {
  color: #6ce089;
  font-family: RobotoSlab;
  font-weight: normal;
  font-size: 16px;
}

.spinner-grow {
  height: 0.7rem;
  width: 0.7rem;
  margin: 0px;
  padding: 0px;
}

#spinner {
  position: absolute;
  margin-left: 30%;
  margin-top: -10px;
  display: none;
}

@keyframes spin {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.spin-animation {
  animation: spin 0.9s linear infinite;
}


/* .options-container {
  position: relative;
} */

/* .options-btn {
  position: absolute;
  top: 100%;
  right: 0;
  transform: translateY(-100%);
  border-width: 0;
  background-color: rgba(0, 0, 0, 0);
  display: none;
} */

/* .rag-thread:hover .options-btn {
  display: block;
} */

/* .options-img {
  content: url("..\\..\\icons\\options_1_h.png");
  width: 18px;
  height: 18px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
} */


/* Customizing the scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: #212529;
}

::-webkit-scrollbar-thumb {
  /* background-color: #9c9b9b; */
  background-color: #7c7c7c;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  /* background-color: #555; */
  background-color: #aaaaaa;
}

/* End of Customizing the scrollbar */


/* .modal {
  animation-name: slide-down;
  animation-duration: 0.2s;
  animation-fill-mode: forwards;
}

@keyframes slide-down {
  from {
      transform: translateY(-100%);
  }
  to {
      transform: translateY(0);
  }
} */


/* Sleek Switch */
.modern-switch .form-check-input {
  width: 2.5rem;
  height: 1.4rem;
  background-color: #ccc;
  border: none;
  transition: all 0.3s ease;
}
.modern-switch .form-check-input:checked {
  background-color: #0d6efd;
}
.modern-switch .form-check-input:focus {
  box-shadow: none;
}

/* Modern Slider */
.modern-slider {
  accent-color: #0d6efd;
}


/* Force unselected buttons to have white background and dark text */
.btn-outline-primary {
  background-color: rgba(255, 255, 255, 0.191) !important;
  color: #ffffff !important;
  border-color: #212529 !important;
}

/* Selected button styling */
.btn-check:checked + .btn-outline-primary {
  background-color: #3291d5 !important;
  color: rgb(255, 255, 255) !important;
  border-color: #212529 !important;
}

.modern-switch {
  display: flex;
  align-items: center;
  gap: 0.5rem; /* space between switch and label */
}


#rag-arguements-text {
  display: block; /* or inline-block */
  font-family: RobotoSlab;
  font-weight: bold;
  font-size: 19px;
  color: rgb(227, 227, 227);
  margin-bottom: 1.5rem; /* adds space below the text */
}



/* Smooth slide toggle that fully disappears */
.rag-section {
  background-color: #494949;
  border: 1px solid #444444;
  border-radius: 0.5rem;
  padding: 1rem;
  margin-bottom: 1rem;

  opacity: 1;
  transition: opacity 0.3s ease;
}

.rag-section.hidden {
  opacity: 0;
  pointer-events: none; /* prevent interaction when hidden */
}

.sliderValues {
  color: #cbcf00;
}


/* Info circle */
.info-circle {
  display: inline-block;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: #007bff;
  color: white;
  text-align: center;
  line-height: 18px;
  font-size: 12px;
  font-weight: bold;
  margin-left: 5px;
  position: relative;
  cursor: pointer;
}

/* Tooltip */
.tooltip-text {
  font-weight: 400; /* normal weight, less bold */
  font-family: sans-serif; /* optional: change font if desired */
  visibility: hidden;
  max-width: 400px;       /* allow wider tooltips */
  min-width: 150px;       /* ensure they are not too narrow */
  background-color: #333;
  color: #fff;
  text-align: left;
  border-radius: 6px;
  padding: 8px;
  position: absolute;
  z-index: 10;
  bottom: 125%;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.3s;
  font-size: 13px;
  line-height: 1.3;
  word-wrap: break-word;
  white-space: normal;
}

/* Triangle pointer */
.tooltip-text::after {
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  border-width: 5px;
  border-style: solid;
  border-color: #333 transparent transparent transparent;
}

.info-circle:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}

/* Ensure tooltips stay within viewport */
.tooltip-text {
  right: auto;
  left: 50%;
  transform: translateX(-50%);
}

/* Mobile responsiveness */
@media (max-width: 500px) {
  .tooltip-text {
    max-width: 90vw; /* mobile-friendly */
  }
}
