{% load static %}
{% load custom_filters %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Security-Policy" content="connect-src 'self' ws://127.0.0.1:8000">
    <title>RAG Chat</title>
    <script type="text/javascript" src="{% static 'jquery-3.7.1.min.js' %}"></script>
    <link rel="icon" href="{% static 'icons/favicon5.ico' %}" type="image/x-icon">
    <link rel="shortcut icon" href="{% static 'icons/favicon5.ico' %}" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/sidebars.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/main/chat.css' %}">
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/sidebars.js' %}"></script>
    <script src="{% static 'crypto-js.js' %}"></script>
    <script src="{% static 'jsencrypt.js' %}"></script>
    <script>
    var publicKey = "-----BEGIN PUBLIC KEY-----\n" +
          "MIICIjANBgkqhkiG9w0BAQEFAAOCAg8AMIICCgKCAgEAvRW2QcbKbzDobMdkLqvY\n" +
          "Fb66Ih41T1+X3spW1WP6UduM1kS+bVh7HwG23pt8e/XJAf9G4IhWTZfkgVBdMsFP\n" +
          "UfCJDiP/9cbQBgNDtT85jlFHjB1dBlJ51Hh8kDkx/1/dgy2b/ZjJ0YwAFLpk2k8W\n" +
          "ZO8wtIOEHMSdLryVh8Jkpk1qSYZPZZuW+QEE/G+TJcF286mLEpTfZ/RQN4mg/nCS\n" +
          "FhW4Rv9wnF8dhgU43kTiLwV8wVgOTKxAseDxMyvbjKiiH+u5YByZNN1hPVFSYQNx\n" +
          "06IK0Ea7wk0UTRhCwLFu2AOPGL3AylFnjlHCd+/vbDrW3WDj3KRTbZFxtysYqn3B\n" +
          "SnNZy6D1xPn79nsgWfKrgQo9KTgP9gpSoebBZwFIRmBD5Q2BpwZvbZj5lJgEYJpe\n" +
          "xH5LW6Rfv2GZjU+S5SEPNXMlSf6kmfbJAEhsyqKj+tWZtri3AfEBhG7hkmmz51zA\n" +
          "32JwSGV/IFqblOHsONsZizOl4OxzSytgfhCyOkAg6zcb5Hcd3Zod0SHscgkYPAeO\n" +
          "9ZZvD6pneRrcB1tgBPz3CSp6UOe9ktK0Lo5ZlapNUmpIR1Av/immdBnfRfB6m+ax\n" +
          "efNjY6Myl8/aepuND/E1MJviOMCm3cyrmOsNj5rwg2AIGO4vw4hdjXqOLez87t/X\n" +
          "OYNP74TrWvLmcNmlKfQNfMsCAwEAAQ==\n" +
          "-----END PUBLIC KEY-----";

    function generateRandomKey(length) {
      var charset = "abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789";
      var result = "";
      for (var i = 0; i < length; i++) {
        result += charset.charAt(Math.floor(Math.random() * charset.length));
      }
      return result;
    }
    </script>
</head>
<body>
<div class="container-fluid">
    <div class="row">
      <div class="col-md-2" style="padding: 0;">
        <div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark sidebar" style="margin-left: 0;">
    <a href="{% url 'main:main_chat' %}" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
      <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
      <span class="fs-4" id="page_title">RAG Chat &nbsp<svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="currentColor" class="bi bi-chat-left-dots-fill" viewBox="0 0 16 16">
  <path d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H4.414a1 1 0 0 0-.707.293L.854 15.146A.5.5 0 0 1 0 14.793zm5 4a1 1 0 1 0-2 0 1 1 0 0 0 2 0m4 0a1 1 0 1 0-2 0 1 1 0 0 0 2 0m3 1a1 1 0 1 0 0-2 1 1 0 0 0 0 2"/>
</svg></span>
    </a>
    <hr>
    <ul class="nav nav-pills flex-column">
      <li class="nav-item">
        <a href="{% url 'main:create_rag' %}" id="new-rag-btn" class="nav-link active text-center" aria-current="page" data-bs-toggle="modal" data-bs-target="#newRagModal" data-bs-whatever="@getbootstrap">
          Create a new RAG thread
        </a>
      </li>
      {% if user|has_group:"Admin" or user|has_group:"Advanced_user" or user.is_superuser%}
      <li class="nav-item" style="margin-top: 10px;">
        <a href="{% url 'main:main_collection' %}" id="new-collection-btn" class="nav-link active text-center">
          Manage collections
        </a>
      </li>
      {% endif %}
    </ul>
    <br>
    <div style="max-height: 800px; overflow-y: auto;">
    <ul class="nav nav-pills flex-column" id="chats">
      <input type="hidden" id="active-thread" value="{{active_thread_id}}">
      {% for thread in chat_threads %}
      <a href="{% url 'main:chat' thread.id %}" class="list-group-item list-group-item-action py-3 lh-tight rag-thread {% if active_thread_id == thread.id %}current{% endif %}" id="{{thread.id}}" style="margin-bottom: 10px;">
        <div class="d-flex w-100 align-items-center justify-content-between">
          <strong class="mb-1 thread_name {% if active_thread_id == thread.id %}current{% endif %}">{{ thread.name }}</strong>
          <small class="text-muted"></small>
        </div>
        {% with thread.id as thread_id %}
        <div class="col-10 mb-1 small" style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">{{ threads_preview|get_dict_value:thread_id }}</div>
        {% endwith %}
      </a>
      {% endfor %}
    </ul>
    </div>
    <div class="mt-auto">
    <hr>
    <div class="dropdown">
      <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle mb" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
        <img id="profile-img" alt="" width="32" height="32" class="rounded-circle me-2">
        <strong>@{{request.user.username}}</strong>
      </a>
      <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">
        <li><a class="dropdown-item" href="{% url 'users:profile' %}">Profile</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" href="{% url 'users:logout' %}">Sign out</a></li>
      </ul>
    </div>
    </div>
  </div>
  </div>
  <div class="col-md-8" style="margin-bottom: 0px; padding-bottom: 0px; margin-left: 0px; padding-left: 0px; border-left: 0px;;">
  <div class="chat-box">
    <div class="messages" id="board">
    {% for message in messages %}
    {% if message.rag_response == False %}
        <div class="container darker">
            <img src="{% static 'icons/ai_icon.png' %}" alt="Avatar" style="width: 42px; height: 42px;">
            <p class="msg user-query" style="line-break: auto;">{{message.message|linebreaksbr}}</p>
            <span class="time-right">{{message.timestamp}}</span>
        </div>
    {% else %}
        <div class="container">
            <input type="hidden" class="rag-response-id" id="{{message.id}}" value="{{message.id}}" >
            <img src="{% static 'icons/user.jpg' %}" alt="Avatar" style="width: 42px; height: 42px;">
            <p class="msg rag-response" style="line-break: auto;">{{message.message|linebreaksbr}}</p>
            <p class="msg rag-response-Fa" style="line-break: auto; display: none;"></p>
            <span class="time-right">{{message.timestamp}}</span>
            <button class="copy-btn" onclick="copyThis(this); showMessage('Copied!', this)"><img id="copy-icon"></button>
            <button class="translate-btn" onclick="translateThis(this)"><img id="translate-icon"></button>
            <button class="context-btn" aria-current="page" data-bs-toggle="modal" data-bs-target="#contextModal" onclick="getContext(this)"><img id="context-icon"></button>
        </div>
    {% endif %}
    {% endfor %}
    </div>
    <div id="spinner">
    <div class="spinner-grow text-light" role="status" >
      <span class="sr-only"></span>
    </div>
    <div class="spinner-grow text-light" role="status">
      <span class="sr-only"></span>
    </div>
    <div class="spinner-grow text-light" role="status">
      <span class="sr-only"></span>
    </div>
    </div>
    <div class="row" style="margin-bottom: 0px; padding-bottom: 0px;">
        <form method="post" class="form-group" id="msg-form">
            {% csrf_token %}
            <div class="input-group mb-3" style="margin-bottom: 0px; padding-bottom: 0px;">
                <div class="input-group-prepend" style="display: flex; align-items: center; margin-bottom: 0px; padding-bottom: 0px;">
                    <input type="text" placeholder="Ask RAG..." name="message" id="msgInput" style="margin-bottom: 1px; padding-bottom: 1px;">
                    <button type="submit" name="send" class="btn btn-success" id="send_btn" style="margin-bottom: 0px; padding-bottom: 5px;">
                    <svg width="32" height="32" fill="currentColor" class="bi bi-send-fill" viewBox="0 0 16 16"><path d="M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0M4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5z"/></svg>
                    </button>
                </div>
            </div>
            </div>
        </form>
    </div> 
</div>
<div class="col-md-2" style="padding: 0;">
  {% if no_threads != True %}
  <div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark sidebar-right" style="margin-right: 0;">
  <h3 id="thread-name-right-sidebar">{{ active_thread_name }}</h3>
  <hr>
  {% if base_collection_name == None %}
  <ul class="nav nav-pills flex-column">
    <li class="nav-item">
      <a href="{% url 'main:add_docs' active_thread_id %}" id="add-docs-btn" class="nav-link active text-center" aria-current="page" data-bs-toggle="modal" data-bs-target="#addDocsModal" data-bs-whatever="@getbootstrap">
        Add new documents
      </a>
    </li>
    <li class="nav-item" style="margin-top: 14px;">
      <a href="{% url 'main:delete_thread' active_thread_id %}" id="delete-thread-btn" class="btn btn-danger nav-link active text-center">
        Delete this thread
      </a>
    </li>
  </ul>
  <hr>
  <h3>Included documents:</h3>
  <div style="max-height: 800px; overflow-y: auto;">
  <ul class="nav nav-pills flex-column doc-name-sidebar">
  {% for doc in rag_docs %}
      <li data-toggle="tooltip" data-placement="top" title='"{{ doc.loc|path_end_part }}" in RAG database' style="margin-bottom: 15px;">* {{ doc.name }}</li>  
  {% endfor %}
  </ul>
  <hr>
  </div>
  {% else %}
  <h3>Base collection:</h3>
  <div style="max-height: 800px; overflow-y: auto;">
  <ul class="nav nav-pills flex-column doc-name-sidebar">
      <li data-toggle="tooltip" data-placement="top" title='"{{ doc.loc|path_end_part }}" in RAG database' style="margin-bottom: 15px;">* {{  base_collection_name }}</li>  
  </ul>
  <hr>
  </div>
  <ul class="nav nav-pills flex-column">
    <li class="nav-item" style="margin-top: 14px;">
      <a href="{% url 'main:delete_thread' active_thread_id %}" id="delete-thread-btn" class="btn btn-danger nav-link active text-center">
        Delete this thread
      </a>
    </li>
  </ul>
  {% endif %}
</div>
{% endif %}
</div>
</div>
<div class="modal fade" id="newRagModal" tabindex="0" aria-labelledby="newRag" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="newRag">Create a new RAG thread</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" data-bs-newRagName="{{ new_rag_name }}"></button>
      </div>
      <div class="modal-body">
        <form action="{%  url 'main:create_rag' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
          <div class="mb-3">
            <label for="rag-name" class="col-form-label">RAG name</label>
            <input type="text" class="form-control" id="rag-name" name="new-rag-name">
          </div>
          <div class="mb-3">
          <label for="llm" class="col-form-label">Base documents collection</label>
          <select class="form-select" name="base-collection-id">
            <option value='None'>None</option>
            <optgroup label="Document collections">
            <option value='all_docs_collection'>*All Documents*</option>
              {% for collection in collections %}
                <option value='{{ collection.id }}'>{{ collection.name }}</option>
              {% endfor %}
            </optgroup>
          </select>
          </div>
          <div class="mb-3">
          <label for="llm" class="col-form-label">LLM</label>
          <select class="form-select" id="llm" aria-label="Disabled select example" disabled>
            <option value="1" selected>Mistral 7B</option>
            <option>Llama2 7B</option>
            <option value="2">Llama2 13B</option>
          </select>
          </div>
          <div class="mb-3" id="doc-form-div">
            <label for="docForm" class="form-label">Add knowledge source</label>
            <input class="form-control" type="file" id="docForm" name="files" multiple>
          </div>
          <div id="uploadedDocuments" class="mt-3"></div>
      </div>
      <div class="modal-footer">
        <div class="spinner-border text-primary" id="spinner_loader" role="status" style="display: none;">
          <span class="sr-only"></span>
        </div>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Discard</button>
        <button type="submit" class="btn btn-primary" onclick="checkNewName(event); spinnerAppears()">Create</button>
      </div>
      </form>
    </div>
  </div>
</div>
{% if no_threads != True %}
<div class="modal fade" id="addDocsModal" tabindex="0" aria-labelledby="addDocs" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addDocs">Add new documents</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" data-bs-newRagName="{{ new_rag_name }}"></button>
      </div>
      <div class="modal-body">
        <form action="{%  url 'main:add_docs' active_thread_id %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
          <div class="mb-3">
            <label for="rag-name" class="col-form-label">RAG name</label>
            <input type="text" class="form-control" id="rag-name" name="new-rag-name" value="{{ active_thread_name }}" disabled>
          </div>
          <div class="mb-3">
          <label for="llm" class="col-form-label">LLM</label>
          <select class="form-select" id="llm" aria-label="Disabled select example" disabled>
            <option value="1" selected>Mistral 7B</option>
            <option>Llama2 7B</option>
            <option value="2">Llama2 13B</option>
          </select>
          </div>
          <div class="mb-3">
            <label for="docForm" class="form-label">Add knowledge source</label>
            <input class="form-control" type="file" id="docForm" name="files" multiple>
          </div>
          <div id="uploadedDocuments" class="mt-3"></div>
      </div>
      <div class="modal-footer">
        <div class="spinner-border text-primary" id="spinner_loader_2" role="status" style="display: none;">
          <span class="sr-only"></span>
        </div>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Discard</button>
        <button type="submit" class="btn btn-primary" onclick="spinnerAppears2()">Add documents</button>
      </div>
      </form>
    </div>
  </div>
</div>
<div class="modal fade" id="contextModal" tabindex="0" aria-labelledby="context" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="context">Response contexts</h5>
      </div>
      <div class="modal-body">
          <div class="mb-3" id="context-div">
          </div>
      </div>
    </div>
  </div>
</div>
{% endif %}

<script>
var copyButtons = document.getElementsByClassName('copy-btn');
var spinner = document.getElementById("spinner");
var spinnerLoader = document.getElementById("spinner_loader");
var spinnerLoader2 = document.getElementById("spinner_loader_2");
var deleteThreadBtn = document.getElementById("delete-thread-btn");

// Function to copy text to clipboard
function copyToClipboard(text) {
    var tempInput = document.createElement('input');
    tempInput.value = text;
    document.body.appendChild(tempInput);
    tempInput.select();
    document.execCommand('copy');
    document.body.removeChild(tempInput);
}


function copyThis(button) {
  var ragResponse = button.parentNode.querySelector('.rag-response');
  var ragResponsePersian = button.parentNode.querySelector('.rag-response-Fa');
  var messageText = ragResponse.textContent;
  var messageTextPersian = ragResponsePersian.textContent;
  if (ragResponse.style.display === 'none') {
    copyToClipboard(messageTextPersian);
  } else {
    copyToClipboard(messageText);
  }
}

// Add event listener to each copy button
//Array.from(copyButtons).forEach(function(button) {
//    button.addEventListener('click', function() {
//        var ragResponse = this.parentNode.querySelector('.rag-response');
//        var ragResponsePersian = this.parentNode.querySelector('.rag-response-Fa');
//        var messageText = this.parentNode.querySelector('.rag-response').textContent;
//        var messageTextPersian = this.parentNode.querySelector('.rag-response-Fa').textContent;
//        if (ragResponse.style.display === 'none') {
//          copyToClipboard(messageTextPersian);
//        } else {
//          copyToClipboard(messageText);
//        }
//    });
//});


function showMessage(message, button) {
  const messageBox = document.createElement('div');
  messageBox.textContent = message;
  messageBox.classList.add('showing-message');
  button.appendChild(messageBox);

  const buttonRect = button.getBoundingClientRect();
  const messageBoxRect = messageBox.getBoundingClientRect();
  const topOffset = buttonRect.top - messageBoxRect.height + 10;
  const leftOffset = buttonRect.left + (buttonRect.width - messageBoxRect.width) / 2;

  messageBox.style.top = topOffset + 'px';
  messageBox.style.left = leftOffset + 'px';

  setTimeout(function() {
    messageBox.remove();
  }, 500);
}


// Websocket stuff
var loc = window.location

var protocol = 'ws://';
if (loc.protocol == "https:") {protocol = 'wss://'};
var endpoint = protocol + loc.host + loc.pathname;
var socket = new WebSocket(endpoint);
console.log("endpoint-onload: " + endpoint);

var formData = $("#msg-form")
var msgInput = $("#msgInput")
var board = $("#board")

const user_prompt = '<div class="container darker">' + 
'<img src="{% static 'icons/ai_icon.png' %}" alt="Avatar" style="width: 42px; height: 42px;">' +
'<p class="msg user-query" style="line-break: auto;">{prompt}</p>' + 
'<span class="time-right">{time}</span>' +
'</div>'

const rag_response = '<div class="container">' +
'<input type="hidden" class="rag-response-id" id="{{message.id}}" value="{{message.id}}" >' +
'<img src="{% static 'icons/user.jpg' %}" alt="Avatar" style="width: 42px; height: 42px;">' + 
'<p class="msg rag-response" style="line-break: auto;">{rag_response}</p>' +
'<p class="msg rag-response-Fa" style="line-break: auto; display: none;"></p>' +
'<span class="time-right">{time}</span>' +
'<button class="copy-btn" onclick="copyThis(this); showMessage(\'Copied!\', this)"><img id="copy-icon"></button>' +
'<button class="translate-btn" onclick="translateThis(this)"><img id="translate-icon"></button>' +
'<button class="context-btn" aria-current="page" data-bs-toggle="modal" data-bs-target="#contextModal" onclick="getContext(this)"><img id="context-icon"></button>' +
'</div>'

const contextField = '<label for="{context_id}" class="col-form-label">{context_label}</label>' + 
'<textarea type="text" class="form-control" rows="5" id="{context_id}" disabled>{context_text}</textarea>'

function decrypt_text(text) {
    var aesRawKey = localStorage.getItem("aesRawKey_rag");
    var aesKey = CryptoJS.enc.Utf8.parse(aesRawKey);
    var decryptedText = CryptoJS.AES.decrypt(text, aesKey, {mode: CryptoJS.mode.ECB});
    var decryptedTextValue = decryptedText.toString(CryptoJS.enc.Utf8);
    decryptedTextValue = decryptedTextValue.replace(/[\x00-\x09\x0B-\x1F\x7F-\x9F]/g, '');
    return decryptedTextValue;
}

function translateThis(element) {
  var container = element.parentNode;
  var messageElement = container.querySelector('.msg.rag-response');
  var persianTranslationElement = container.querySelector('.msg.rag-response-Fa');
  if (persianTranslationElement.textContent === "") {
    var messageId = container.querySelector('.rag-response-id').value;
    var messageText = messageElement.textContent;
    messageText = messageText.replace('<br>',"\n");
    var aesRawKey = generateRandomKey(16);
    var aesKey = CryptoJS.enc.Utf8.parse(aesRawKey);
    localStorage.setItem("aesRawKey_rag", aesRawKey);
    var encryptedMessageText = CryptoJS.AES.encrypt(messageText, aesKey, {mode: CryptoJS.mode.ECB}).toString();
    var encrypt = new JSEncrypt();
    encrypt.setPublicKey(publicKey);
    var encryptedAesKey = encrypt.encrypt(aesKey.toString(CryptoJS.enc.Base64));
    var data = {
      "mode": "translation",
      'message_id': messageId,
      'encrypted_message': encryptedMessageText,
      'encrypted_aes_key' : encryptedAesKey
      }
    socket.send(JSON.stringify(data));
  } else { 
    if (persianTranslationElement.style.display === 'block') {
      persianTranslationElement.style.display = 'none';
      messageElement.style.display = 'block';
  } else {
    persianTranslationElement.style.display = 'block';
    messageElement.style.display = 'none';
  }
  }
}


socket.onopen = function(e) {
    console.log ("open", e)
    formData.submit(function(event) {
        event.preventDefault();
        var msgVal = msgInput.val()
        var aesRawKey = generateRandomKey(16);
        var aesKey = CryptoJS.enc.Utf8.parse(aesRawKey);
        localStorage.setItem("aesRawKey_rag", aesRawKey);
        var encryptedMsgVal = CryptoJS.AES.encrypt(msgVal, aesKey, {mode: CryptoJS.mode.ECB}).toString();
        var encrypt = new JSEncrypt();
        encrypt.setPublicKey(publicKey);
        var encryptedAesKey = encrypt.encrypt(aesKey.toString(CryptoJS.enc.Base64));
        var data = {
            'encrypted_message': encryptedMsgVal,
            'encrypted_aes_key' : encryptedAesKey
        }
        socket.send(JSON.stringify(data));
        var today = new Date();
        var time = today.getHours() + ":" + today.getMinutes();
        var field = user_prompt.replace('{prompt}', msgInput.val());
        field = field.replace('{time}', time);
        $('#board').append(field);
        scrolltoend();
        msgInput.val('');
        formData[0].reset();
        spinner.style.display = 'block';
    })
}

socket.onmessage = function(e) {
    var chatMsgData = JSON.parse(e.data)
    var today = new Date();
    var time = today.getHours() + ":" + today.getMinutes();
    if (chatMsgData.mode === "translation") {
      var encryptedPersianTranslation = chatMsgData.encrypted_persian_translation;
      var persianTranslation = decrypt_text(encryptedPersianTranslation)
      var messageId = chatMsgData.message_id;
      var container = document.getElementById(messageId).parentNode;
      var persianTextBox = container.querySelector('.msg.rag-response-Fa');
      var englishTextBox = container.querySelector('.msg.rag-response');
      persianTranslation = persianTranslation.replace(/\n/g, '<br>');
      persianTextBox.textContent = persianTranslation;
      persianTextBox.style.display = "block";
      englishTextBox.style.display = "none";
    } else if (chatMsgData.mode === "context") {
        var encryptedContexts = chatMsgData.contexts;
        Object.keys(encryptedContexts).forEach(function(key, index) {
          var contextId = "context-" + (index + 1);
          var contextLabel = "#" + (index + 1) + ": " + key;
          var encryptedContextText = contexts[key];
          var contextText = decrypt_text(encryptedContextText)
          
          var context = contextField.replace("{context_id}", contextId);
          context = context.replace("{context_label}", contextLabel);
          context = context.replace("{context_text}", contextText);
          
          var contextDiv = document.getElementById("context-div");
          contextDiv.innerHTML += context;
        });
    } else if (chatMsgData.mode === "new") {
      var field = rag_response.replace('{rag_response}', chatMsgData.message);
      field = field.replace('{time}', time);
      $('#board').append(field);
      scrolltoend();
      copyButtons = document.getElementsByClassName('copy-btn');
      // Add event listener to each copy button
      Array.from(copyButtons).forEach(function(button) {
        button.addEventListener('click', function() {
          var messageText = this.parentNode.querySelector('.rag-response').textContent;
          copyToClipboard(messageText);
        });
      });
    } else if (chatMsgData.mode === "last") {
      var messageId = chatMsgData.message_id;
      const ragResponses = document.getElementsByClassName('rag-response');
      const lastRagResponse = ragResponses[ragResponses.length - 1];
      var container = lastRagResponse.parentNode;
      var id_input = container.querySelector('.rag-response-id');
      id_input.id = messageId;
      id_input.value = messageId;
    } else {
      spinner.style.display = 'none'
      var msgText = decrypt_text(chatMsgData.message)
      //const ragResponses = document.getElementsByClassName('rag-response');
      //const lastRagResponse = ragResponses[ragResponses.length - 1];
      //var updatedRagResponse = lastRagResponse.textContent + chatMsgData.message;
      //updatedRagResponse = updatedRagResponse.replace(/\n/g, '<br>');
      //lastRagResponse.innerHTML = updatedRagResponse;
      //scrolltoend();
      const ragResponses = document.getElementsByClassName('rag-response');
      const lastRagResponse = ragResponses[ragResponses.length - 1];
      var updatedRagResponse = lastRagResponse.innerHTML + msgText;
      updatedRagResponse = updatedRagResponse.replace(/\n/g, '<br>');
      lastRagResponse.innerHTML = updatedRagResponse;

      //var last_response_text = $('.rag-response:last')[0].textContent;
      //last_response_text = last_response_text.replace(/\n/g, '<br>');
      //$('.rag-response:last')[0].textContent = last_response_text + chatMsgData.message;
      scrolltoend();
    }
}


socket.onerror  = function(e) {
    console.log ("error", e)
}
socket.onclose  = function(e) {
    console.log ("close", e)
    var loc = window.location

    var protocol = 'ws://';
    if (loc.protocol == "https:") {protocol = 'wss://'};
    var endpoint = protocol + loc.host + loc.pathname;
    var socket = new WebSocket(endpoint);
    console.log("endpoint-onload: " + endpoint);
}

window.onunload = function () {
    socket.close();
}

function scrolltoend() {
    $('#board').stop().animate({
        scrollTop: $('#board')[0].scrollHeight
    }, 300);
  }

window.onload = function() {
  // Place scroller at the active thread area
  var activeThreadId = document.getElementById('active-thread').value;
  var activeThreadElement = document.getElementById(activeThreadId);

  // Scroll the scrollbar to the area where the active thread exists
  if (activeThreadElement !== null) {
    var isVisible = isElementVisible(activeThreadElement);
    if (activeThreadElement && !isVisible) {
    activeThreadElement.scrollIntoView();
  }
  }


  // Place scroller at the last message area
  var containers = document.querySelectorAll(".container");
  if (containers.length > 0) {
  var lastContainer = containers[containers.length - 1];
  lastContainer.scrollIntoView();
  }
};

// Function to check if an element is visible in the viewport
function isElementVisible(element) {
  var rect = element.getBoundingClientRect();
  return (
    rect.top >= 0 &&
    rect.left >= 0 &&
    rect.bottom <= (window.innerHeight || document.documentElement.clientHeight) &&
    rect.right <= (window.innerWidth || document.documentElement.clientWidth)
  );
}


if (deleteThreadBtn) {
  deleteThreadBtn.addEventListener("click", function(event) {
    event.preventDefault(); // Prevent the default link behavior

    var confirmation = confirm("Are you sure you want to delete this thread?");

    if (confirmation) {
      window.location.href = "{% url 'main:delete_thread' active_thread_id %}";
    }
  });
}


function checkNewName(event) {
  var threads = document.getElementsByClassName("thread_name");
  var threadNames = []

  for (var i = 0; i < threads.length; i++) {
    var threadName = threads[i].innerHTML;
    threadNames.push(threadName);
}
  inputName = document.getElementById("rag-name").value
  if (threadNames.includes(inputName)) {
    event.preventDefault();
    alert("This thread name already exists! try another name");
  } else if (inputName == "") {
    event.preventDefault();
    alert("You must provide a name for this RAG thread!");
  }
};


const baseCollectionSelect = document.querySelector('[name="base-collection-id"]');
const docFormDiv = document.getElementById('doc-form-div');
const docForm = document.getElementById('docForm');

  baseCollectionSelect.addEventListener('change', (event) => {
    const selectedValue = event.target.value;
    if (selectedValue !== 'None') {
      docForm.value = "";
      docFormDiv.style.display = 'none';
    } else {
      docFormDiv.style.display = 'block';
    }
  });


function getContext(button) {
  var contextDiv = document.getElementById("context-div");
  contextDiv.innerHTML = "";
  var container = button.parentNode;
  var messageId = container.querySelector('.rag-response-id').value;
  var aesRawKey = generateRandomKey(16);
  var aesKey = CryptoJS.enc.Utf8.parse(aesRawKey);
  localStorage.setItem("aesRawKey_rag", aesRawKey);
  var encrypt = new JSEncrypt();
  encrypt.setPublicKey(publicKey);
  var encryptedAesKey = encrypt.encrypt(aesKey.toString(CryptoJS.enc.Base64));
  if (messageId !== "{{message.id}}") {
    var data = {
    "mode": "context",
    'message_id': messageId,
    "encrypted_aes_key": encryptedAesKey
    }
    socket.send(JSON.stringify(data));
  }
}


function spinnerAppears() {
  spinnerLoader.style.display = 'inline-block' ;
}

function spinnerAppears2() {
  spinnerLoader2.style.display = 'inline-block' ;
}

</script>
</body>
</html>



