{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Security-Policy" content="connect-src 'self' ws://127.0.0.1:8000">
    <script type="text/javascript" src="{% static 'jquery-3.7.1.min.js' %}"></script>
    <link rel="icon" href="{% static 'icons/favicon5.ico' %}" type="image/x-icon">
    <link rel="shortcut icon" href="{% static 'icons/favicon5.ico' %}" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/sidebars.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/main/chat.css' %}">
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/sidebars.js' %}"></script>
    <title>RAG Chat</title>
</head>
<body>
<div class="container-fluid">
    <div class="row">
      <div class="col-md-2" style="padding: 0;">
        <div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark sidebar" style="margin-left: 0;">
    <a href="{% url 'main:main_chat' %}" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
      <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
      <span class="fs-4" id="page_title">RAG Chat &nbsp<svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="currentColor" class="bi bi-chat-left-dots-fill" viewBox="0 0 16 16">
  <path d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H4.414a1 1 0 0 0-.707.293L.854 15.146A.5.5 0 0 1 0 14.793zm5 4a1 1 0 1 0-2 0 1 1 0 0 0 2 0m4 0a1 1 0 1 0-2 0 1 1 0 0 0 2 0m3 1a1 1 0 1 0 0-2 1 1 0 0 0 0 2"/>
</svg></span>
    </a>
    <hr>
    <ul class="nav nav-pills flex-column">
      <li class="nav-item">
        <a href="{% url 'main:create_rag' %}" class="nav-link active text-center" aria-current="page" data-bs-toggle="modal" data-bs-target="#newRagModal" data-bs-whatever="@getbootstrap" >
          Create a new RAG
        </a>
      </li>
    </ul>
    <br>
    <ul class="nav nav-pills flex-column" id="#chats">
    <input type="hidden" id="active-thread" value="{{active_thread_id}}">
    {% for thread in chat_threads %}
    <a href="{% url 'main:chat' thread.id %}" class="list-group-item list-group-item-action py-3 lh-tight rag-thread {% if active_thread_id == thread.id %}current{% endif %}" id="{{thread.id}}" style="margin-bottom: 10px;">
        <div class="d-flex w-100 align-items-center justify-content-between">
          <strong class="mb-1">{{ thread.name }}</strong>
          <small class="text-muted">Tues</small>
        </div>
        <div class="col-10 mb-1 small">Last message sent to this chat</div>
      </a>
    {% endfor %}
    </ul>
    <div class="mt-auto">
    <hr>
    <div class="dropdown">
      <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle mb" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
        <img id="profile-img" alt="" width="32" height="32" class="rounded-circle me-2">
        <strong>@{{request.user.username}}</strong>
      </a>
      <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">
        <li><a class="dropdown-item" href="{% url 'users:profile' %}">Profile</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" href="{% url 'users:logout' %}">Sign out</a></li>
      </ul>
    </div>
    </div>
  </div>
  </div>
  <div class="col-md-8">
  <div class="chat-box">
    <div class="messages" id="board">
    {% for message in messages %}
    {% if curr_user == message.sender_name %}
        <div class="container darker">
            <img src="{% static 'icons/user.png' %}" alt="Avatar" class="right" style="width:100%;">
            <p>{{message.message}}</p>
            <span class="time-right">{{message.timestamp}}</span>
        </div>
    {% else %}
        <div class="container">
            <img src="{% static 'icons/ai_icon.png' %}" alt="Avatar" style="width:100%;">
            <p>{{message.message}}</p>
            <span class="time-left">{{message.timestamp}}</span>
        </div>
    {% endif %}
    {% endfor %}
    </div>
    <div class="row">
        <form method="post" class="form-group" id="msg-form">
            {% csrf_token %}
            <div class="input-group mb-3">
                <div class="input-group-prepend" style="display: flex; align-items: center;">
                    <input type="text" placeholder="Send a message..." name="message" id="msgInput">
                    <button type="submit" name="send" class="btn btn-success" id="send_btn">
                    <svg width="20" height="20" fill="currentColor" class="bi bi-send-fill" viewBox="0 0 16 16"><path d="M15.964.686a.5.5 0 0 0-.65-.65L.767 5.855H.766l-.452.18a.5.5 0 0 0-.082.887l.41.26.001.002 4.995 3.178 3.178 4.995.002.002.26.41a.5.5 0 0 0 .886-.083zm-1.833 1.89L6.637 10.07l-.215-.338a.5.5 0 0 0-.154-.154l-.338-.215 7.494-7.494 1.178-.471z"/></svg>
                    </button>
                </div>
            </div>
            </div>
        </form>
    </div> 
</div>
<div class="col-md-2" style="padding: 0;">
            <div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark sidebar" style="margin-left: 0;">
            
            </div>
        </div>
</div>
</div>
<div class="modal fade" id="newRagModal" tabindex="0" aria-labelledby="newRag" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="newRag">Create a New RAG</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" data-bs-newRagName="{{ new_rag_name }}"></button>
      </div>
      <div class="modal-body">
        <form action="{%  url 'main:create_rag' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
          <div class="mb-3">
            <label for="rag-name" class="col-form-label">RAG name</label>
            <input type="text" class="form-control" id="rag-name" name="new-rag-name">
          </div>
          <div class="mb-3">
          <label for="llm" class="col-form-label">LLM</label>
          <select class="form-select" id="llm" aria-label="Disabled select example" disabled>
            <option selected>Llama2 7B</option>
            <option value="2">Llama2 13B</option>
            <option value="1">Mistral 7B</option>
          </select>
          </div>
          <div class="mb-3">
            <label for="docForm" class="form-label">Add knowledge source</label>
            <input class="form-control" type="file" id="docForm" name="files" multiple>
            {% comment %} <input class="form-control" type="file" id="docForm" multiple directory webkitdirectory> {% endcomment %}
          </div>
          <div id="uploadedDocuments" class="mt-3"></div>
        {% comment %} </form> {% endcomment %}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Discard</button>
        {% comment %} <button type="button" class="btn btn-primary" onclick="submitForm()">Submit</button> {% endcomment %}
        <button type="submit" class="btn btn-primary">Create</button>
      </div>
      </form>
    </div>
  </div>
</div>
<script>
var loc = window.location

var protocol = 'ws://';
if (loc.protocol == "https:") {protocol = 'wss://'};
var endpoint = protocol + loc.host + loc.pathname;
var socket = new WebSocket(endpoint);
console.log("endpoint-onload: " + endpoint);

//websocket scripts
//var currentUrl = window.location.href;

//var endpoint = protocol + loc.host + loc.pathname


var formData = $("#msg-form")
var msgInput = $("#msgInput")
var board = $("#board")

//function submitForm() {
//  // Get the input field values
//  var ragModelName = document.getElementById("rag-name").value;
//  var files = document.getElementById("docForm").files;
//
//  // Display the uploaded document names
//  var uploadedDocumentsDiv = document.getElementById("uploadedDocuments");
//  uploadedDocumentsDiv.innerHTML = "";
//  for (var i = 0; i < files.length; i++) {
//    var fileName = files[i].name;
//    var documentNameElement = document.createElement("p");
//    documentNameElement.textContent = fileName;
//    uploadedDocumentsDiv.appendChild(documentNameElement);
//  }
//}

socket.onopen = function(e) {
    console.log ("open", e)
    formData.submit(function(event) {
        event.preventDefault();
        var data = {
            'message': msgInput.val(),
        }
        socket.send(JSON.stringify(data));
        msgInput.val('');
    formData[0].reset();
    })
}

socket.onmessage = function(e) {
    console.log ("ws message:", e)
    var chatMsgData = JSON.parse(e.data)
    console.log ("response: ", chatMsgData)
}

socket.onerror  = function(e) {
    console.log ("error", e)
}
socket.onclose  = function(e) {
    console.log ("close", e)
}

window.onunload = function () {
    socket.close();
}
</script>
</body>
</html>



