{% load static %}
{% load custom_filters %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Security-Policy" content="connect-src 'self' ws://127.0.0.1:8000">
    <script type="text/javascript" src="{% static 'jquery-3.7.1.min.js' %}"></script>
    <link rel="icon" href="{% static 'icons/favicon5.ico' %}" type="image/x-icon">
    <link rel="shortcut icon" href="{% static 'icons/favicon5.ico' %}" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/sidebars.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/main/collections.css' %}">
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/sidebars.js' %}"></script>
    <title>RAG Chat</title>
</head>
<body>
<div class="container-fluid">
    <div class="row">
      <div class="col-md-2" style="padding: 0;">
        <div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark sidebar" style="margin-left: 0;">
    <a href="{% url 'main:main_chat' %}" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
      <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
      <span class="fs-4" id="page_title">RAG Chat &nbsp<svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="currentColor" class="bi bi-chat-left-dots-fill" viewBox="0 0 16 16">
  <path d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H4.414a1 1 0 0 0-.707.293L.854 15.146A.5.5 0 0 1 0 14.793zm5 4a1 1 0 1 0-2 0 1 1 0 0 0 2 0m4 0a1 1 0 1 0-2 0 1 1 0 0 0 2 0m3 1a1 1 0 1 0 0-2 1 1 0 0 0 0 2"/>
</svg></span>
    </a>
    <hr>
    <ul class="nav nav-pills flex-column">
      <li class="nav-item">
        <a href="{% url 'main:create_collection' %}" id="new-collection-btn" class="nav-link active text-center" aria-current="page" data-bs-toggle="modal" data-bs-target="#newCollectionModal" data-bs-whatever="@getbootstrap">
          Create a new collection
        </a>
      </li>
    </ul>
    <br>
    <div style="max-height: 800px; overflow-y: auto;">
    <ul class="nav nav-pills flex-column" id="#chats">
      <input type="hidden" id="active-collection" value="{{active_collection_id}}">
      {% for collection in collections %}
      <a href="{% url 'main:collection' collection.id %}" class="list-group-item list-group-item-action py-3 lh-tight collection-box {% if active_collection_id == collection.id %}current{% endif %}" id="{{collection.id}}" style="margin-bottom: 10px;">
        <div class="d-flex w-100 align-items-center justify-content-between">
          <strong class="mb-1 collection_name">{{ collection.name }}</strong>
        </div>
        {% comment %} <div class="col-10 mb-1 small" style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">@{{ collection.user_created }}</div> {% endcomment %}
        {% with collection.id as collection_id %}
        <div class="col-10 mb-1 small" style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">By <span style="font-weight: Bold;">@{{ collection.user_created }}</span>  |  <span style="font-weight: Bold;">{{ collection.total_docs }} docs</span> </div>
        {% endwith %}
      </a>
      {% endfor %}
    </ul>
    </div>
    <div class="mt-auto">
    <hr>
    <div class="dropdown">
      <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle mb" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
        <img id="profile-img" alt="" width="32" height="32" class="rounded-circle me-2">
        <strong>@{{request.user.username}}</strong>
      </a>
      <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">
        <li><a class="dropdown-item" href="{% url 'users:profile' %}">Profile</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" href="{% url 'users:logout' %}">Sign out</a></li>
      </ul>
    </div>
    </div>
  </div>
  </div>
  <div class="col-md-8" style="margin-bottom: 0px; padding-bottom: 0px;">
  <div class="messages">
  <table class="table">
    <thead>
      <tr>
        <th>Document Name</th>
        <th>Date created</th>
        <th>User created</th>
      </tr>
    </thead>
    <tbody>
      {% for document in documents %}
      <tr>
        <td>{{ document.name }}</td>
        <td>{{ document.time_created }}</td>
        <td>{{ document.user.username }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  </div>
  {% comment %} <div class="chat-box">
    <div class="messages" id="board">
    {% for message in messages %}
    {% if message.rag_response == False %}
        <div class="container darker">
            <img src="{% static 'icons/ai_icon.png' %}" alt="Avatar" style="width: 42px; height: 42px;">
            <p class="msg" style="line-break: auto;">{{message.message|linebreaksbr}}</p>
            <span class="time-right">{{message.timestamp}}</span>
        </div>
    {% else %}
        <div class="container"> 
            <img src="{% static 'icons/user.jpg' %}" alt="Avatar" style="width: 42px; height: 42px;">
            <p class="msg rag-response" style="line-break: auto;">{{message.message|linebreaksbr}}</p>
            <span class="time-right">{{message.timestamp}}</span>
            <button class="copy-btn" onclick="showMessage('Copied!', this)"><img id="copy-icon"></button>
        </div>
    {% endif %}
    {% endfor %}
    </div>
    <div id="spinner">
    <div class="spinner-grow text-light" role="status" >
      <span class="sr-only"></span>
    </div>
    <div class="spinner-grow text-light" role="status">
      <span class="sr-only"></span>
    </div>
    <div class="spinner-grow text-light" role="status">
      <span class="sr-only"></span>
    </div>
    </div>
    <div class="row" style="margin-bottom: 0px; padding-bottom: 0px;">
        <form method="post" class="form-group" id="msg-form">
            {% csrf_token %}
            <div class="input-group mb-3" style="margin-bottom: 0px; padding-bottom: 0px;">
                <div class="input-group-prepend" style="display: flex; align-items: center; margin-bottom: 0px; padding-bottom: 0px;">
                    <input type="text" placeholder="Ask RAG..." name="message" id="msgInput" style="margin-bottom: 1px; padding-bottom: 1px;">
                    <button type="submit" name="send" class="btn btn-success" id="send_btn" style="margin-bottom: 0px; padding-bottom: 5px;">
                    <svg width="32" height="32" fill="currentColor" class="bi bi-send-fill" viewBox="0 0 16 16"><path d="M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0M4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5z"/></svg>
                    </button>
                </div>
            </div>
            </div>
        </form>
    </div>  {% endcomment %}
</div>
<div class="col-md-2" style="padding: 0;">
  {% if no_collections != True %}
  <div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark sidebar" style="margin-right: 0;">
  <h3 id="collection-name-right-sidebar">{{ active_collection_name }}</h3>
  <span class="small_text">Created by <span class="small_text_ylw">@{{ active_collection_creator }}</span></span>
  <hr>
  <ul class="nav nav-pills flex-column">
    <li class="nav-item">
      <a href="{% url 'main:collection_add_docs' active_collection_id %}" id="add-docs-btn" class="nav-link active text-center" aria-current="page" data-bs-toggle="modal" data-bs-target="#addDocsModal" data-bs-whatever="@getbootstrap">
        Add new documents
      </a>
    </li>
    <li class="nav-item" style="margin-top: 14px;">
      <a href="{% url 'main:delete_collection' active_collection_id %}" id="delete-collection-btn" class="btn btn-danger nav-link active text-center">
        Delete this collection
      </a>
    </li>
  </ul>
  <hr>
  </div>
</div>
{% endif %}
</div>
</div>
<div class="modal fade" id="newCollectionModal" tabindex="0" aria-labelledby="newCollection" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="newCollection">Create a new collection</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" data-bs-newCollectionName="{{ new_collection_name }}"></button>
      </div>
      <div class="modal-body">
        <form action="{%  url 'main:create_collection' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
          <div class="mb-3">
            <label for="rag-name" class="col-form-label">Collection name</label>
            <input type="text" class="form-control" id="rag-name" name="new-collection-name">
          </div>
          <div class="mb-3">
            <label for="docForm" class="form-label">Add primary knowledge sources (you can add later)</label>
            <input class="form-control" type="file" id="docForm" name="files" multiple>
          </div>
          <div id="uploadedDocuments" class="mt-3"></div>
      </div>
      <div class="modal-footer">
        <div class="spinner-border text-primary" id="spinner_loader" role="status" style="display: none;">
          <span class="sr-only"></span>
        </div>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Discard</button>
        <button type="submit" class="btn btn-primary" onclick="checkNewName(event); spinnerAppears()">Create</button>
      </div>
      </form>
    </div>
  </div>
</div>
{% if no_collections != True %}
<div class="modal fade" id="addDocsModal" tabindex="0" aria-labelledby="addDocs" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addDocs">Add new documents</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" data-bs-newRagName="{{ new_rag_name }}"></button>
      </div>
      <div class="modal-body">
        <form action="{%  url 'main:collection_add_docs' active_collection_id %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
          <div class="mb-3">
            <label for="rag-name" class="col-form-label">RAG name</label>
            <input type="text" class="form-control" id="rag-name" name="new-collection-name" value="{{ active_collection_name }}" disabled>
          </div>
          <div class="mb-3">
          <label for="llm" class="col-form-label">LLM</label>
          <select class="form-select" id="llm" aria-label="Disabled select example" disabled>
            <option selected>Llama2 7B</option>
            <option value="2">Llama2 13B</option>
            <option value="1">Mistral 7B</option>
          </select>
          </div>
          <div class="mb-3">
            <label for="docForm" class="form-label">Add knowledge source</label>
            <input class="form-control" type="file" id="docForm" name="files" multiple>
          </div>
          <div id="uploadedDocuments" class="mt-3"></div>
      </div>
      <div class="modal-footer">
        <div class="spinner-border text-primary" id="spinner_loader" role="status" style="display: none;">
          <span class="sr-only"></span>
        </div>
        <div class="spinner-border text-primary" id="spinner_loader_2" role="status" style="display: none;">
          <span class="sr-only"></span>
        </div>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Discard</button>
        <button type="submit" class="btn btn-primary" onclick="spinnerAppears2()">Add documents</button>
      </div>
      </form>
    </div>
  </div>
</div>
{% endif %}
<script>
var copyButtons = document.getElementsByClassName('copy-btn');
var spinner = document.getElementById("spinner");
var spinnerLoader = document.getElementById("spinner_loader");
var spinnerLoader2 = document.getElementById("spinner_loader_2");

// Add event listener to each copy button
Array.from(copyButtons).forEach(function(button) {
    button.addEventListener('click', function() {
        var messageText = this.parentNode.querySelector('.rag-response').textContent;
        copyToClipboard(messageText);
    });
});

function scrolltoend() {
    $('#board').stop().animate({
        scrollTop: $('#board')[0].scrollHeight
    }, 300);
  }

window.onload = function() {
  // Place scroller at the active collection area
  var activeCollectionId = document.getElementById('active-collection').value;
  var activeCollectionElement = document.getElementById(activeCollectionId);
  var isVisible = isElementVisible(activeCollectionElement);

  // Place scroller at the last message area
  var containers = document.querySelectorAll(".container");
  var lastContainer = containers[containers.length - 1];
  lastContainer.scrollIntoView();

  // Scroll the scrollbar to the area where the active collection exists
  if (activeCollectionElement && !isVisible) {
    activeCollectionElement.scrollIntoView();
  }
};

// Function to check if an element is visible in the viewport
function isElementVisible(element) {
  var rect = element.getBoundingClientRect();
  return (
    rect.top >= 0 &&
    rect.left >= 0 &&
    rect.bottom <= (window.innerHeight || document.documentElement.clientHeight) &&
    rect.right <= (window.innerWidth || document.documentElement.clientWidth)
  );
}

document.getElementById("delete-collection-btn").addEventListener("click", function(event) {
  event.preventDefault(); // Prevent the default link behavior

  var confirmation = confirm("Are you sure you want to delete this collection?");

  if (confirmation) {
    window.location.href = "{% url 'main:delete_collection' active_collection_id %}";
  }
});

function checkNewName(event) {
  var collections = document.getElementsByClassName("collection_name");
  var collectionNames = []

  for (var i = 0; i < collections.length; i++) {
    var collectionName = collections[i].innerHTML;
    collectionNames.push(collectionName);
}
  inputName = document.getElementById("rag-name").value
  if (collectionNames.includes(inputName)) {
    event.preventDefault();
    alert("This collection name already exists! try another name");
  }
};

function spinnerAppears() {
  spinnerLoader.style.display = 'inline-block' ;
}

function spinnerAppears2() {
  spinnerLoader2.style.display = 'inline-block' ;
}
</script>
</body>
</html>



