<ul class="nav nav-pills flex-column" id="#chats">
  <input type="hidden" id="active-thread" value="{{active_thread_id}}">
  {% for thread in chat_threads %}
  <a href="{% url 'main:chat' thread.id %}" class="list-group-item list-group-item-action py-3 lh-tight rag-thread {% if active_thread_id == thread.id %}current{% endif %}" id="{{thread.id}}" style="margin-bottom: 10px;">
    <div class="d-flex w-100 align-items-center justify-content-between">
      <strong class="mb-1">{{ thread.name }}</strong>
      <small class="text-muted">Tues</small>
    </div>
    {% with thread.id as thread_id %}
    <div class="col-10 mb-1 small" style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">{{ threads_preview|get_dict_value:thread_id }}</div>
    {% endwith %}
  </a>
  {% endfor %}
</ul>